// 主题色设置
$themes: (
  default: (
    default_color: #5662F6, // 主题色
    text_color: #111, // 文本字体颜色
  ),
  t1: (
    t1_color: #0a674b, // t1主题色
    text_color: #121212, // 文本字体颜色
  ),
  t2: (
    t1_color: #ecf31b, // t2主题色
    text_color: #222, // 文本字体颜色
  ),
)