@mixin flex($justify: center, $align: center) {
  display: flex;
  align-items: $justify;
  justify-content: $align;
}

@mixin tag() {
  border: 1px solid #f00;
}

@mixin Hidden($width: 180px) {
  width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin Hiddens($clamp: 4) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $clamp;
}